<h1>Eat Da Burger</h1>

<h2>Burgers To Eat</h2>
<ul>
    <h3>These need eaten!</h3>
    {{#each burgers}} 
        {{#unless devoured}}
            {{> burgers/burger-block devoured=true}}
            {{!-- Devour Button --}}
            {{> burgers/devour-burger}}
        {{/unless}}
    {{/each}}
</ul>

<h2>These Were Tasty!</h2>
<ul>
    {{#each burgers}}
        {{#if devoured}}
            
            {{> burgers/burger-block devoured=false}}
        {{/if}}
    {{/each}}
</ul>

<h2>Add A Burger</h2>
<form action="/create" class="new_burger-form" method="POST">
    <div class="form-group">
        <label for="burger_name">What Burger Would You Like to Add?</label>
        <input type="text" id="burger_name" name="burger_name" placeholder="Add Burger Here">
    </div>
    <button id="addBurgerButton" type="submit">Add Burger</button>
</form>